<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Profile | legatoex - cryptocurrency exchange</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/tailwind.output.css" />
    <script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
    defer
    ></script>
    <script src="/assets/js/init-alpine.js"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    defer
    ></script>
    <script src="/assets/js/charts-lines.js" defer></script>
    <script src="/assets/js/charts-pie.js" defer></script>
  </head>
  <body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }">
        <%- include('../components/sidenav') %>
        <div class="flex flex-col flex-1 w-full">
          <%- include('../components/top') %>
          <%- include('../components/profile-form.ejs') %> 

        </div>
    </div>

    <script type="text/javascript">
      console.log('hello')

      let user

      const name = document.querySelector('#name')
      const email = document.querySelector('#email')
      const phoneNumber = document.querySelector('#number')
      const secondaryEmail = document.querySelector('#secondaryEmail')
      const address = document.querySelector('#address')
      const state = document.querySelector('#state')
      const country = document.querySelector('#country')

      document.addEventListener('DOMContentLoaded', async () => {
        const res = await fetch('http://localhost:3000/user')

        if (res.ok) {

          const data = await res.json()
          user = data
          console.log(data)
          

          name.value = data.name
          email.value = data.email
          phoneNumber.value = data.phoneNumber
          secondaryEmail.value = data.secondaryEmail ?? ''
          address.value = data.address ?? ''
          state.value = data.state ?? ''
          country.value = data.country ?? ''
        }
        
        const editProfileForm = document.forms['edit-profile-form']

        editProfileForm.onsubmit = async (e) => {
          e.preventDefault()
          let profile =  { 
            name: name.value,
            phoneNumber: phoneNumber.value,
            secondaryEmail: secondaryEmail.value,
            address: address.value,
            state: state.value,
            country: country.value,
            id: user.id
          }

          console.log(profile)

          const res = await fetch('/dashboard/profile', {
            method: 'POST',
            body: JSON.stringify(profile),
            headers: { 'Content-Type': 'application/json' },
            credentials: 'include'
          })

          if (res.ok) {
            const data = await res.json()
            
            console.log(data)
            location.assign('/dashboard/index')
          }
        }
      })
    </script>
  </body>
</html>
