<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Dashboard
    </h2>
    <!-- CTA -->
    <a
      class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="https://github.com/estevanmaito/windmill-dashboard"
    >
      <div class="flex items-center">
        <svg
          class="w-5 h-5 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
          ></path>
        </svg>
        <span>Check The Latest Prices</span>
      </div>
      <span>View more &RightArrow;</span>
    </a>
    <!-- Cards -->
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
      <!-- Card -->
      <div id="btc"
        class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
      >
        <div
          class="p-3 mr-4 text-orange-500 rounded-full dark:text-orange-100"
        >
        <svg class="w-5 h-5" fill="transparent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="65px" viewBox="0 0 64 65" version="1.1"><title>Bitcoin</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="crypto" transform="translate(-86.000000, -93.000000)" fill-rule="nonzero"><g id="Bitcoin" transform="translate(86.000000, 93.000000)"><g id="Group"><circle id="Oval" fill="#F5B300" cx="31.7" cy="32.5" r="31.7"/><path d="M23.1 16.3c1.1.3 2.2.5 3.3.8 1.1.3 2.2.5 3.3.8.3.1.4 0 .5-.3.4-1.7.8-3.3 1.2-5 .1-.3.2-.4.5-.3 1 .3 1.9.5 2.9.7.3.1.3.2.2.4-.4 1.6-.8 3.3-1.2 4.9 0 .1 0 .2-.1.4.8.2 1.7.4 2.5.6.1 0 .2-.2.3-.3.3-1.3.6-2.5 1-3.8l.3-1.2c0-.2.1-.3.3-.2 1 .3 2 .5 3.1.8.1 0 .1.1.2.1-.3 1.3-.6 2.5-.9 3.7-.1.5-.2 1-.4 1.5-.1.3 0 .4.3.5l3.3 1.5c1 .6 1.9 1.4 2.6 2.4.9 1.5 1 3.1.6 4.7-.3 1.1-.7 2.1-1.5 2.9-.6.6-1.4 1-2.2 1.3-.1 0-.2.1-.4.1.4.3.8.5 1.2.8 1.2.9 2 2 2.4 3.4.2 1.1.1 2.3-.2 3.4-.4 1.4-.9 2.6-1.8 3.7-1.1 1.3-2.5 2-4.1 2.2-2.1.3-4.1.1-6.1-.2-.3-.1-.5 0-.6.3-.4 1.6-.8 3.3-1.2 4.9-.1.4-.1.5-.6.3-.9-.2-1.9-.5-2.8-.7-.3-.1-.3-.2-.2-.4.4-1.7.8-3.4 1.3-5 0-.2.1-.3-.1-.4-.8-.2-1.6-.4-2.5-.6-.2.9-.5 1.8-.7 2.7-.2.9-.5 1.8-.7 2.7-.1.2-.1.3-.4.2-1-.3-2-.5-3-.7-.3-.1-.3-.2-.2-.4.4-1.7.8-3.4 1.3-5 0-.1.1-.2.1-.4-2.3-.6-4.6-1.2-7-1.8.2-.4.3-.7.5-1.1.4-.9.8-1.8 1.1-2.6.1-.3.2-.3.5-.3.7.2 1.5.4 2.2.5.8.2 1.4-.2 1.5-.9 1.3-5.1 2.6-10.2 3.8-15.4.2-.8-.3-1.7-1.2-2-.9-.3-1.8-.5-2.6-.7-.2 0-.3-.1-.2-.3.3-1.1.6-2.3.9-3.4-.4.3-.4.3-.3.2zM28.2 41c.1 0 .2.1.2.1 1.6.4 3.3.9 5 1 1.2.1 2.3.1 3.4-.3 1.9-.6 2.7-3.1 1.6-4.7-.5-.8-1.3-1.3-2.1-1.8-1.8-1-3.9-1.4-5.9-1.8-.3-.1-.3 0-.4.3-.2 1-.5 1.9-.7 2.9-.4 1.4-.7 2.8-1.1 4.3zm8.4-10.2c.2 0 .7-.1 1.1-.2 1.9-.4 2.9-2.6 1.9-4.3-.5-.9-1.4-1.5-2.3-1.9-1.4-.6-2.8-.9-4.3-1.3-.3-.1-.4 0-.5.3-.5 2.1-1 4.1-1.6 6.2-.1.2 0 .3.2.4.4.1.7.2 1.1.3 1.5.2 2.8.5 4.4.5z" id="Shape" fill="#FFF"/></g></g></g></g><metadata><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/"><rdf:Description about="https://iconscout.com/legal#licenses" dc:title="bitcoin" dc:description="bitcoin" dc:publisher="Iconscout" dc:date="2017-09-17" dc:format="image/svg+xml" dc:language="en"><dc:creator><rdf:Bag><rdf:li>Vladislav Sergeev</rdf:li></rdf:Bag></dc:creator></rdf:Description></rdf:RDF></metadata></svg>
          <!-- <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
            ></path>
          </svg> -->
        </div>
        <div>
          <p
            class="address mb-2 text-xs font-medium text-gray-600 dark:text-gray-400"
          >

          </p>
          <p
            class="amount text-lg font-semibold text-gray-700 dark:text-gray-200"
          >

          </p>
        </div>
      </div>
      <!-- Card -->
      <div id="eth"
        class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
      >
        <div
          class="p-3 mr-4 text-green-500 rounded-full dark:text-green-100"
        >
        <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="65px" viewBox="0 0 40 65" version="1.1"><title>Etherium</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="crypto" transform="translate(-227.000000, -93.000000)" fill-rule="nonzero"><g id="Etherium" transform="translate(227.000000, 93.000000)"><g id="Group"><path d="M20.1.8v23.3c0 .1-.1.2-.2.2-.7.3-1.3.6-2 .9-.9.4-1.9.8-2.8 1.3L11.8 28l-2.7 1.2-3.3 1.5c-.9.4-1.8.8-2.8 1.3-.7.3-1.5.7-2.2 1-.1 0-.1.1-.2 0H.5c.3-.5.6-.9.9-1.4 1.6-2.7 3.3-5.4 4.9-8.1 1.7-2.9 3.5-5.8 5.2-8.7 1.6-2.7 3.2-5.4 4.8-8 1.2-2 2.4-3.9 3.5-5.9.2 0 .2-.1.3-.1-.1 0 0 0 0 0z" id="Shape" fill="#8A92B2"/><path d="M39.5 33c-1.5 1-3.1 1.9-4.6 2.8-4.9 2.9-9.7 5.7-14.6 8.6-.1 0-.1.1-.2.1s-.1-.1-.1-.1v-.3-19.5-.3c0-.1.1-.1.2-.1.4.2.8.4 1.3.6 1.2.6 2.5 1.1 3.7 1.7 1.1.5 2.1 1 3.2 1.4 1.1.5 2.1 1 3.2 1.5.9.4 1.9.8 2.8 1.3.9.4 1.9.8 2.8 1.3.7.3 1.4.7 2.2 1 0-.1 0 0 .1 0z" id="Shape" fill="#454A75"/><path d="M20.1 64.1s-.1 0 0 0c-.1 0-.1 0-.2-.1-2-2.8-3.9-5.5-5.9-8.3l-6-8.4c-1.9-2.7-3.9-5.4-5.8-8.2L.7 37c0-.1-.1-.1-.1-.2.1 0 .1.1.2.1 2.7 1.6 5.5 3.2 8.2 4.8 3.1 1.9 6.3 3.7 9.4 5.6.5.3 1.1.6 1.6.9.1 0 .1.1.1.2V64.1z" id="Shape" fill="#8A92B2"/><path d="M.6 33s.1 0 0 0c.1 0 .1 0 0 0 0 .1 0 .1 0 0z" id="Shape" fill="gray"/><path d="M.7 33.1c0-.1 0-.1 0 0 1-.5 2-.9 3-1.4l3.9-1.8c1-.5 2-.9 3-1.4 1.4-.7 2.9-1.3 4.3-2 1-.4 2-.9 3-1.3.7-.3 1.4-.6 2.1-1 .1 0 .1-.1.2-.1V44.5c-.1.1-.1 0-.2 0-.3-.2-.6-.3-.8-.5L.9 33.2c-.1-.1-.2-.1-.2-.1z" id="Shape" fill="#62688F"/><path d="M39.4 36.8c0 .1 0 .1-.1.2-5.8 8.2-11.6 16.3-17.4 24.5-.6.9-1.2 1.7-1.8 2.6V64v-.2-15.3-.3c1.3-.8 2.6-1.6 3.9-2.3l15.3-9c0-.1.1-.1.1-.1z" id="Shape" fill="#62688F"/><path d="M20.1 24.2V24 1.1.9l19.2 31.8c.1.1.2.2.2.3-.4-.2-.8-.4-1.3-.6-.5-.2-1-.5-1.5-.7-.3-.1-.6-.3-1-.4-.5-.2-1.1-.5-1.6-.7-.3-.1-.6-.3-.9-.4l-2.1-.9c-.4-.2-.7-.3-1.1-.5-.5-.2-1-.5-1.5-.7-.3-.1-.6-.3-.9-.4l-2.1-.9c-.4-.2-.7-.3-1.1-.5-.5-.2-1-.5-1.5-.7-.3-.2-.7-.3-1-.5l-1.8-.9z" id="Shape" fill="#62688F"/></g></g></g></g><metadata><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/"><rdf:Description about="https://iconscout.com/legal#licenses" dc:title="etherium" dc:description="etherium" dc:publisher="Iconscout" dc:date="2017-09-17" dc:format="image/svg+xml" dc:language="en"><dc:creator><rdf:Bag><rdf:li>Vladislav Sergeev</rdf:li></rdf:Bag></dc:creator></rdf:Description></rdf:RDF></metadata></svg>
          <!-- <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
              clip-rule="evenodd"
            ></path>
          </svg> -->
        </div>
        <div>
          <p
            class="address mb-2 text-xs overflow-hidden font-medium text-gray-600 dark:text-gray-400"
          >

          </p>
          <p
            class="amount text-lg font-semibold text-gray-700 dark:text-gray-200"
          >

          </p>
        </div>
      </div>
      <!-- Card -->
      <div id="doge"
        class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
      >
        <div
          class="p-3 mr-4 text-blue-500 rounded-full dark:text-blue-100"
        >
        <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="65px" viewBox="0 0 64 65" version="1.1"><title>Dogecoin</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="crypto" transform="translate(-505.000000, -208.000000)" fill-rule="nonzero"><g id="Dogecoin" transform="translate(505.000000, 208.000000)"><circle id="Oval" fill="#F8BF1A" cx="32.2" cy="32.4" r="31.7"/><path d="M14.6 50.2v-8.4h4.9V22.6h-4.9v-8.1h20.5c1.4 0 2.8.4 4.1.9 2.6 1 4.9 2.5 6.7 4.7 1.6 1.9 2.7 4.1 3.3 6.6 1 4.2 1 8.5-.2 12.7-1.6 5.5-5 9.2-10.8 10.5-1 .2-2.1.3-3.1.4H15.4c-.3-.1-.5-.1-.8-.1zm14.9-8.4c1.1 0 2.2.1 3.3 0 1.4-.1 2.7-.6 3.6-1.8.8-1 1.5-2.1 1.9-3.3.8-2.7.5-5.4-.1-8.1-.3-1.6-1.1-3.1-2.1-4.3-.6-.7-1.4-1.5-2.3-1.6-1.4-.3-2.9-.1-4.3-.1v19.2z" id="Shape" fill="#FFF"/></g></g></g><metadata><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/"><rdf:Description about="https://iconscout.com/legal#licenses" dc:title="dogecoin" dc:description="dogecoin" dc:publisher="Iconscout" dc:date="2017-09-17" dc:format="image/svg+xml" dc:language="en"><dc:creator><rdf:Bag><rdf:li>Vladislav Sergeev</rdf:li></rdf:Bag></dc:creator></rdf:Description></rdf:RDF></metadata></svg>

        <!-- <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
            ></path>
          </svg> -->
        </div>
        <div>
          <p
            class="address mb-2 text-xs font-medium text-gray-600 dark:text-gray-400"
          >

          </p>
          <p
            class="amount text-lg font-semibold text-gray-700 dark:text-gray-200"
          >

          </p>
        </div>
      </div>
      <!-- Card -->
      <div id="ltc"
        class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
      >
        <div
          class="p-3 mr-4 text-teal-500 rounded-full dark:text-teal-100"
        >
        <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="65px" viewBox="0 0 64 65" version="1.1"><title>Litecoin</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="crypto" transform="translate(-505.000000, -93.000000)" fill-rule="nonzero"><g id="Litecoin" transform="translate(505.000000, 93.000000)"><g id="Group"><path d="M32.2 64.1C14.6 64 .5 49.9.6 32.4.6 14.8 14.9.7 32.4.8 50 .9 64.1 15.1 64 32.6c-.2 17.5-14.4 31.6-31.8 31.5zm28.7-31.6c0-15.9-12.8-28.7-28.7-28.7-15.8 0-28.6 12.8-28.6 28.6 0 15.9 12.8 28.7 28.7 28.7 15.8 0 28.6-12.8 28.6-28.6z" id="Shape" fill="#C0C0C0"/><path d="M56.6 32.5C56.4 46 45.5 56.9 32.1 56.8 18.5 56.6 7.7 45.6 7.9 32.2 8.1 18.7 19 8 32.3 8.1c13.5.1 24.3 11 24.3 24.4zm-25.9 8.7v-.3c.7-2.7 1.3-5.3 2-8 .1-.2.3-.5.6-.6.7-.3 1.4-.6 2.1-.8 1.6-.4 2.5-1.3 2.7-2.9.1-.7.4-1.4.6-2.2-1.7.7-3.2 1.3-4.8 1.9C35 24 36 20 37.1 15.8H28c-.6 0-.8.2-1 .8l-4.2 15.6c-.1.3-.4.6-.6.7-.9.4-1.9.7-2.8 1.1-.2.1-.5.2-.5.3-.4 1.3-.8 2.7-1.3 4.2 1.4-.6 2.6-1.1 4-1.6-.9 3.5-1.8 6.9-2.7 10.3h25.8c.5 0 .7-.1.8-.6.2-1 .5-2 .8-2.9.2-.7.3-1.4.5-2.2l-16.1-.3z" id="Shape" fill="#C0C0C0"/><path d="M30.7 41.2c5.4.1 10.7.2 16.1.4-.2.8-.4 1.5-.5 2.2-.3 1-.6 1.9-.8 2.9-.1.5-.3.6-.8.6H18.9c.9-3.5 1.8-6.8 2.7-10.3-1.4.5-2.6 1-4 1.6.4-1.5.8-2.8 1.3-4.2 0-.2.3-.3.5-.3.9-.4 1.9-.7 2.8-1.1.3-.1.6-.4.6-.7L27 16.7c.1-.6.3-.8 1-.8h9.1C36 20 35 24.1 33.9 28.4c1.6-.7 3.1-1.3 4.8-1.9-.2.8-.5 1.5-.6 2.2-.2 1.6-1.1 2.5-2.7 2.9-.7.2-1.4.5-2.1.8-.2.1-.5.4-.6.6-.7 2.7-1.4 5.3-2 8v.2z" id="Shape" fill="#FFF"/></g></g></g></g><metadata><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/"><rdf:Description about="https://iconscout.com/legal#licenses" dc:title="litecoin" dc:description="litecoin" dc:publisher="Iconscout" dc:date="2017-09-17" dc:format="image/svg+xml" dc:language="en"><dc:creator><rdf:Bag><rdf:li>Vladislav Sergeev</rdf:li></rdf:Bag></dc:creator></rdf:Description></rdf:RDF></metadata></svg>
          <!-- <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
              clip-rule="evenodd"
            ></path>
          </svg> -->
        </div>
        <div>
          <p
            class="address mb-2 text-xs font-medium text-gray-600 dark:text-gray-400"
          >

          </p>
          <p
            class="amount text-lg font-semibold text-gray-700 dark:text-gray-200"
          >

          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container grid px-6 mx-auto">
    <!-- TODO: create a component that will hold the offers from the person <div></div> -->
    <div>
      <%- include('./offers') %>
    </div>

  </div>
</main>
